<div class="attributes flexcol">
	{{#each system.attributes as |attribute key|}}
		<div class="attribute flexrow flex-group-center">
			<label for="system.attributes.{{key}}.value" class="resource-label rollable flexlarge align-left"
				data-roll="d20+@attributes.{{key}}.value"
				data-label="{{localize (lookup @root.config.attributes key)}}">{{localize (lookup @root.config.attributes key)}}</label>
			<input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" />
		</div>
	{{/each}}
</div>
<hr />
<div class="defenses flexcol">
	<div class="deflect flexrow flex-group-center">
		<label for="system.deflect" class="resource-label flexlarge align-left"
			data-label="{{localize (lookup @root.config.defenses deflect)}}">{{localize (lookup @root.config.defenses "deflect")}}</label>
		<input type="text" name="system.deflect" disabled="true" value="{{system.deflect}}" data-dtype="Number" />
	</div>
	<div class="physical flexrow flex-group-center">
		<label for="system.physical" class="resource-label flexlarge align-left"
			data-label="{{localize (lookup @root.config.defenses physical)}}">{{localize (lookup @root.config.defenses "physical")}}</label>
		<input type="text" name="system.physical" disabled="true" value="{{system.physical}}" data-dtype="Number" />
	</div>
	<div class="cognitive flexrow flex-group-center">
		<label for="system.cognitive" class="resource-label flexlarge align-left"
			data-label="{{localize (lookup @root.config.defenses cognitive)}}">{{localize (lookup @root.config.defenses "cognitive")}}</label>
		<input type="text" name="system.cognitive" disabled="true" value="{{system.cognitive}}" data-dtype="Number" />
	</div>
	<div class="spiritual flexrow flex-group-center">
		<label for="system.spiritual" class="resource-label flexlarge align-left"
			data-label="{{localize (lookup @root.config.defenses spiritual)}}">{{localize (lookup @root.config.defenses "spiritual")}}</label>
		<input type="text" name="system.spiritual" disabled="true" value="{{system.spiritual}}" data-dtype="Number" />
	</div>
</div>
