<div class="flexcol flex-group-center" style="width:100%;">
	<div class="physical-skills flexcol flex-group-center" style="width:75%;">
		<span class="skill-column-header">
			{{localize (lookup @root.config.defenses "physical")}}
		</span>
		<ol class='physical-skills skills-list'>
			{{#each system.skills.physical as |skill key|}}
				<li class="flexrow flex-group-center">
					<input type="text" name="system.skills.physical.{{key}}.value" value="+{{skill.value}}"
						disabled="true" data-dtype="Number" />
					<label for="system.skills.physical.{{key}}.value"
						class="resource-label rollable flexlarge flex-group-left" style="margin-left:5%;"
						data-key="{{key}}" data-roll="d20+@skills.physical.{{key}}.value" data-roll-type="skill"
						data-defense="physical" data-label="{{localize (lookup @root.config.skills.physical key)}}">
						{{localize (lookup @root.config.skills.physical key)}}
					</label>
					<label for="system.skills.physical.{{key}}.value" class="resource-label rollable flex-group-right"
						style="max-width:min-content;" data-roll="d20+@skills.physical.{{key}}.value" data-key="{{key}}"
						data-roll-type="skill" data-defense="physical"
						data-label="{{localize (lookup @root.config.skills.physical key)}}">
						({{toUpperCase (localize (lookup @root.config.attributeAbbreviations skill.attribute))}})
					</label>
					<div class="skill-pip flexrow flex-group-right" data-skill="{{key}}" data-skill-branch="physical">
						<i class="fa-{{pipRank skill.rank 1}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 2}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 3}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 4}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 5}} fa-circle"></i>
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>
<hr />
<div class="flexcol flex-group-center" style="width:100%;">
	<div class="cognitive-skills flexcol flex-group-center" style="width:75%;">
		<span class="skill-column-header">
			{{localize (lookup @root.config.defenses "cognitive")}}
		</span>
		<ol class='cognitive-skills skills-list'>
			{{#each system.skills.cognitive as |skill key|}}
				<li class="flexrow flex-group-center">
					<input type="text" name="system.skills.cognitive.{{key}}.value" value="+{{skill.value}}"
						disabled="true" data-dtype="Number" />
					<label for="system.skills.cognitive.{{key}}.value"
						class="resource-label rollable flexlarge flex-group-left" style="margin-left:5%;"
						data-key="{{key}}" data-roll="d20+@skills.cognitive.{{key}}.value" data-roll-type="skill"
						data-defense="cognitive" data-label="{{localize (lookup @root.config.skills.cognitive key)}}">
						{{localize (lookup @root.config.skills.cognitive key)}}
					</label>
					<label for="system.skills.cognitive.{{key}}.value" class="resource-label rollable flex-group-right"
						style="max-width:min-content;" data-roll="d20+@skills.cognitive.{{key}}.value"
						data-key="{{key}}" data-roll-type="skill" data-defense="cognitive"
						data-label="{{localize (lookup @root.config.skills.cognitive key)}}">
						({{toUpperCase (localize (lookup @root.config.attributeAbbreviations skill.attribute))}})
					</label>
					<div class="skill-pip flexrow flex-group-right" data-skill="{{key}}" data-skill-branch="cognitive">
						<i class="fa-{{pipRank skill.rank 1}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 2}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 3}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 4}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 5}} fa-circle"></i>
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>
<hr />
<div class="flexcol flex-group-center" style="width:100%;">
	<div class="spiritual-skills flexcol flex-group-center" style="width:75%;">
		<span class="skill-column-header">
			{{localize (lookup @root.config.defenses "spiritual")}}
		</span>
		<ol class='spiritual-skills skills-list'>
			{{#each system.skills.spiritual as |skill key|}}
				<li class="flexrow flex-group-center">
					<input type="text" name="system.skills.spiritual.{{key}}.value" value="+{{skill.value}}"
						disabled="true" data-dtype="Number" />
					<label for="system.skills.spiritual.{{key}}.value"
						class="resource-label rollable flexlarge flex-group-left" style="margin-left:5%;"
						data-key="{{key}}" data-roll="d20+@skills.spiritual.{{key}}.value" data-roll-type="skill"
						data-defense="spiritual" data-label="{{localize (lookup @root.config.skills.spiritual key)}}">
						{{localize (lookup @root.config.skills.spiritual key)}}
					</label>
					<label for="system.skills.spiritual.{{key}}.value" class="resource-label rollable flex-group-right"
						style="max-width:min-content;" data-roll="d20+@skills.spiritual.{{key}}.value"
						data-key="{{key}}" data-roll-type="skill" data-defense="spiritual"
						data-label="{{localize (lookup @root.config.skills.spiritual key)}}">
						({{toUpperCase (localize (lookup @root.config.attributeAbbreviations skill.attribute))}})
					</label>
					<div class="skill-pip flexrow flex-group-right" data-skill="{{key}}" data-skill-branch="spiritual">
						<i class="fa-{{pipRank skill.rank 1}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 2}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 3}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 4}} fa-circle"></i>
						<i class="fa-{{pipRank skill.rank 5}} fa-circle"></i>
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>
<hr />
<div class="flexcol flex-group-center" style="width:100%;">
	<div class="expertise flexcol flex-group-center" style="width:75%;">
		<span class="skill-column-header">
			{{localize (lookup @root.config.skills.expertise "label")}}
		</span>
		<div class='manage-expertise grid grid-5col flex-group-right'>
			<div class="grid-span-4"><span></span></div>
			<a class='expertise-manage' title='{{localize (lookup @root.config.skills.expertise "manage")}}'>
				<i class="fa-solid fa-gear"></i>
			</a>
		</div>
		<ol class="expertise-list">
			{{#each system.expertise as |expertise index|}}
				<li class="flexrow">
					{{index}}. <span>{{expertise.text}}</span>
				</li>
			{{/each}}
		</ol>
	</div>
</div>
