<ol class='items-list'>
	<li class='item flexrow items-header'>
		<div class='item-name'>{{localize 'Strikes'}}</div>
	</li>
	{{#each strikes as |item id|}}
		<li class='item flexrow' data-item-id='{{item._id}}' data-strike-index="{{id}}">
			<div class='strike-name'>
				{{item.name}}
			</div>
			<div class='strike-attack flex-group-left'>
				<div class="tooltip">
					<label for="strike-attack" class="strike-label rollable" data-roll="1d20{{item.modifier}}"
						data-roll-type="strike" data-defense="physical" data-label="{{item.name}}">
						{{localize 'Attack'}}
					</label>
					<span class="tooltiptext">
						1d20{{item.modifier}}
					</span>
				</div>
			</div>
			<div class='strike-damage flex-group-left'>
				<div class="tooltip">
					<label for="strike-damage" class="strike-label rollable"
						data-roll="{{item.formula}}{{item.modifier}}{{item.damageType}}" data-roll-type="damage"
						data-label="{{item.name}}">
						{{localize 'Damage'}}
					</label>
					<span class="tooltiptext">
						{{item.formula}}{{item.modifier}} <i class="fa-regular fa-{{damageIcon item.damageType}}"></i>
					</span>
				</div>
			</div>
			<div class='strike-damage-crit flex-group-left'>
				<div class="tooltip">
					<label for="strike-damage-crit" class="strike-label rollable"
						data-roll="{{item.formula}}min{{item.crit}}{{item.modifier}}{{item.damageType}}"
						data-roll-type="critical" data-label="{{item.name}}">
						{{localize 'Critical'}}
					</label>
					<span class="tooltiptext">
						{{item.formula}}{{item.modifier}}
						<i class="fa-regular fa-{{damageIcon item.damageType}}"></i>
						(max)
					</span>
				</div>
			</div>
			<div class='strike-graze flex-group-left'>
				<div class="tooltip">
					<label for="strike-graze" class="strike-label rollable"
						data-roll="{{item.formula}}{{item.damageType}}" data-roll-type="graze"
						data-label="{{item.name}}">
						{{localize 'Graze'}}
					</label>
					<span class="tooltiptext">
						{{item.formula}} <i class="fa-regular fa-{{damageIcon item.damageType}}"></i> (1 focus)
					</span>
				</div>
			</div>
		</li>
	{{/each}}
</ol>
