<div class="flexcol">
	<div>
		<ol class="items-list effects-list">
			<li class='item flexrow items-header'>
				<div class='item-name'>{{localize 'Active Effects'}}</div>
				<div class='item-controls'>
					<a class='item-control item-create' data-action="createDoc" data-document-class="Item"
						title='{{localize "DOCUMENT.Create" type="Effect"}}' data-type='Effect'>
						<i class='fas fa-plus'></i>
					</a>
					<a class='item-control item-search' data-action="searchDoc" data-type="Effect"
						title='{{localize "DOCUMENT.Search" type="Effect"}}' data-type='Effect'>
						<i class='fas fa-search'></i>
					</a>
				</div>
			</li>
			{{#each activeEffects as |effect id|}}
				<li class='item flexrow' data-item-id='{{effect._id}}' data-drag='true' data-document-class='Item'>
					<div class='item-name'>
						<span class='resource-label detail-item' data-action="detailToggle">{{effect.name}}</span>
					</div>
					<div class='item-controls'>
						<a class='item-control item-edit' data-action="viewDoc" data-document-class="Item"
							title='{{localize "DOCUMENT.Update"}}'>
							<i class='fas fa-edit'></i>
						</a>
						<a class='item-control item-delete' data-action="deleteDoc" data-document-class="Item"
							title='{{localize "DOCUMENT.Delete"}}'>
							<i class='fas fa-trash'></i>
						</a>
					</div>
				</li>
				<li class='item flexrow' data-item-id='{{effect._id}}' data-drag='false' data-document-class='Item'
					{{#unless effect.system.showDetails}}style='display: none' {{/unless}}>
					<div class='item-details flex-group-center'>
						{{editor effect.enrichedDescription target="effect.system.description" engine="prosemirror" button=false editable=false}}
					</div>
				</li>
			{{/each}}
		</ol>
		<hr />
		<ol class="items-list effects-list">
			<li class='item flexrow items-header'>
				<div class='item-name'>{{localize 'Inactive Effects'}}</div>
				<div class='item-controls'>
					<a class='item-control item-create' data-action="createDoc" data-document-class="Item"
						title='{{localize "DOCUMENT.Create" type="Effect"}}' data-type='Effect'>
						<i class='fas fa-plus'></i>
					</a>
					<a class='item-control item-search' data-action="searchDoc" data-type="Effect"
						title='{{localize "DOCUMENT.Search" type="Effect"}}' data-type='Effect'>
						<i class='fas fa-search'></i>
					</a>
				</div>
			</li>
			{{#each effects as |effect id|}}
				<li class='item flexrow' data-item-id='{{effect._id}}' data-drag='true' data-document-class='Item'>
					<div class='item-name'>
						<span class='resource-label detail-item' data-action="detailToggle">{{effect.name}}</span>
					</div>
					<div class='item-controls'>
						<a class='item-control item-edit' data-action="viewDoc" data-document-class="Item"
							title='{{localize "DOCUMENT.Update"}}'>
							<i class='fas fa-edit'></i>
						</a>
						<a class='item-control item-delete' data-action="deleteDoc" data-document-class="Item"
							title='{{localize "DOCUMENT.Delete"}}'>
							<i class='fas fa-trash'></i>
						</a>
					</div>
				</li>
				<li class='item flexrow' data-item-id='{{effect._id}}' data-drag='false' data-document-class='Item'
					{{#unless effect.system.showDetails}}style='display: none' {{/unless}}>
					<div class='item-details flex-group-center'>
						{{editor effect.enrichedDescription target="effect.system.description" engine="prosemirror" button=false editable=false}}
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>
