<div class="flexcol flex-group-center" style="width:100%;">
	<div class="skills-list flexcol flex-group-left" style="width:150%;">
		<div class='grid grid-5col'>
			<span class="grid-span-4">
				<label class="resource-label">
					{{localize (lookup @root.config.biography.connections "label")}}
				</label>
			</span>
			<a class='connection-create' data-action="create" data-type="Connections"
				title='{{localize (lookup @root.config.skills.connection "new")}}'>
				<i class='fas fa-plus'></i>
			</a>
		</div>
		<ol class="connection-list">
			{{#each connections as |connection index|}}
				<li class="grid grid-3col">
					<input class="connection-input grid-span-2" type="text" name="connection" value="{{connection}}"
						data-dtype="String" data-index="{{@index}}" />
					<a class='connection-remove' data-action="remove" data-index="{{@index}}"
						title='{{localize (lookup @root.config.skills.connection "remove")}}'>
						<i class='fas fa-trash'></i>
					</a>
				</li>
			{{/each}}
		</ol>
	</div>
</div>
