<div class="grid grid-3col">
	<div class="physical-skills flexcol">
		<label for="physical-skills-list" class="resource-label flexlarge flex-group-center"
			data-label="{{localize (lookup @root.config.defenses physical)}}">
			{{localize (lookup @root.config.defenses "physical")}}
		</label>
		<ol class='physical-skills-list'>
			{{#each system.skills.physical as |skill key|}}
				<li class="grid grid-5col">
					<div class="skill flexcol flex-group-center">
						<input type="text" name="system.skills.physical.{{key}}.value" value="{{skill.value}}"
							disabled="true" data-dtype="Number" />
					</div>
					<div class="skill grid-span-3 flex-group-center">
						<label for="system.skills.physical.{{key}}.value"
							class="resource-label rollable flexlarge flex-group-center"
							data-roll="d20+@skills.physical.{{key}}.value"
							data-label="{{localize (lookup @root.config.skills key)}}">
							{{localize (lookup @root.config.skills key)}}
							({{toUpperCase (localize (lookup @root.config.attributeAbbreviations skill.attribute))}})
						</label>
					</div>
					<div class="skill flexcol flex-group-center">
						<input type="text" name="system.skills.physical.{{key}}.bonus" value="{{skill.bonus}}"
							data-dtype="Number" />
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
	<div class="cognitive-skills flexcol">
		<label for="cognitive-skills-list" class="resource-label flexlarge flex-group-center"
			data-label="{{localize (lookup @root.config.defenses cognitive)}}">
			{{localize (lookup @root.config.defenses "cognitive")}}
		</label>
		<ol class='cognitive-skills-list'>
			{{#each system.skills.cognitive as |skill key|}}
				<li class="grid grid-5col">
					<div class="skill flexcol flex-group-center">
						<input type="text" name="system.skills.cognitive.{{key}}.value" value="{{skill.value}}"
							disabled="true" data-dtype="Number" />
					</div>
					<div class="skill grid-span-3 flex-group-center">
						<label for="system.skills.cognitive.{{key}}.value"
							class="resource-label rollable flexlarge flex-group-center"
							data-roll="d20+@skills.cognitive.{{key}}.value"
							data-label="{{localize (lookup @root.config.skills key)}}">
							{{localize (lookup @root.config.skills key)}}
							({{toUpperCase (localize (lookup @root.config.attributeAbbreviations skill.attribute))}})
						</label>
					</div>
					<div class="skill flexcol flex-group-center">
						<input type="text" name="system.skills.cognitive.{{key}}.bonus" value="{{skill.bonus}}"
							data-dtype="Number" />
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
	<div class="spiritual-skills flexcol">
		<label for="spiritual-skills-list" class="resource-label flexlarge flex-group-center"
			data-label="{{localize (lookup @root.config.defenses spiritual)}}">
			{{localize (lookup @root.config.defenses "spiritual")}}
		</label>
		<ol class='spiritual-skills-list'>
			{{#each system.skills.spiritual as |skill key|}}
				<li class="grid grid-5col">
					<div class="skill flexcol flex-group-center">
						<input type="text" name="system.skills.spiritual.{{key}}.value" value="{{skill.value}}"
							disabled="true" data-dtype="Number" />
					</div>
					<div class="skill grid-span-3 flex-group-center">
						<label for="system.skills.spiritual.{{key}}.value"
							class="resource-label rollable flexlarge flex-group-center"
							data-roll="d20+@skills.spiritual.{{key}}.value"
							data-label="{{localize (lookup @root.config.skills key)}}">
							{{localize (lookup @root.config.skills key)}}
							({{toUpperCase (localize (lookup @root.config.attributeAbbreviations skill.attribute))}})
						</label>
					</div>
					<div class="skill flexcol flex-group-center">
						<input type="text" name="system.skills.spiritual.{{key}}.bonus" value="{{skill.bonus}}"
							data-dtype="Number" />
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>
<div class="expertise flexcol">
	<label for="expertise-list" class="resource-label flexlarge flex-group-left">
		{{localize (lookup @root.config.biography "expertise")}}
	</label>
	<ol class="expertise-list">
		{{#each system.expertise as |expertise key|}}
			<li class="grid grid-4col">
				<div class="grid-span-3">
					<input type="text" name="system.expertise.{{key}}" value="{{expertise}}" data-dtype="String" />
				</div>
				<div class="flexcol">
					<a class='expertise-remove' data-key="{{@index}}"
						title='{{localize (lookup @root.config.skills expertise_remove)}}'>
						<i class='fas fa-trash'>
							{{localize (lookup @root.config.skills expertise_remove)}}
						</i>
					</a>
				</div>
			</li>
		{{else}}
			<li class="flexcol">{{localize (lookup @root.config.skills expertise_empty)}}</li>
		{{/each}}
	</ol>
	<div class='create-expertise flexlarge'>
		<a class='expertise-create' title='{{localize (lookup @root.config.skills expertises_new)}}'>
			<i class='fas fa-plus'></i>
			{{localize (lookup @root.config.skills "expertises_new")}}
		</a>
	</div>
</div>
