<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	<section class="grid grid-5col">
		<aside class="sidebar">
			{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-core.hbs"}}
		</aside>
		<section class="main grid-span-4">
			{{!-- Sheet Header --}}
			<header class="sheet-header">
				<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
					width="100" />
				<div class="header-fields">
					<div class="resources grid grid-4col">
						<section class="main grid-span-2 align-left">
							<label for="name" class="resource-label">Name</label>
							<input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
						</section>
						<section class="main align-right">
							<label for="null" class="resource-label"></label>
						</section>
						<section class="main align-right">
							<label for="system.tier" class="resource-label">Tier</label>
							<input name="system.tier" type="text" value="{{system.tier}}" data-dtype="Number" />
						</section>
					</div>
					<div class="resources grid grid-3col">
						<div class="resource">
							<label for="system.role" class="resource-label">Role</label>
							<div class="item-content flexrow flex-center flex-between">
								<input type="text" name="system.role" value="{{system.role}}" data-dtype="Text" />
							</div>
						</div>
						<div class="resource">
							<label for="system.type" class="resource-label">Type</label>
							<div class="item-content flexrow flex-center flex-between">
								<input type="text" name="system.type" value="{{system.type}}" data-dtype="Text" />
							</div>
						</div>
					</div>
					<div class="resources flexrow flexlarge flex-between flex-group-center">
						<div class="resource">
							<label for="system.usePlotDice" class="resource-label">Plot Dice</label>
							<div class="resource-content flexrow flex-right flex-between">
								{{#if system.usePlotDice}}
									<a class='dice-control plot-dice-off' title='{{localize 'Disable Plot Dice'}}'
										data-type='Equipment'>
										<i class="fa-solid fa-toggle-on fa-xl"></i>
									</a>
								{{else}}
									<a class='dice-control plot-dice-on' title='{{localize 'Enable Plot Dice'}}'
										data-type='Equipment'>
										<i class="fa-solid fa-toggle-off fa-xl"></i>
									</a>
								{{/if}}
							</div>
						</div>
						<div class="resource">
							<label for="system.hasAdvantage" class="resource-label">Advantage</label>
							<div class="resource-content flexrow flex-right flex-between">
								{{#if system.hasAdvantage}}
									<a class='dice-control advantage-off' title='{{localize 'Disable Advantage'}}'
										data-type='Equipment'>
										<i class="fa-solid fa-toggle-on fa-xl"></i>
									</a>
								{{else}}
									<a class='dice-control advantage-on' title='{{localize 'Enable Advantage'}}'
										data-type='Equipment'>
										<i class="fa-solid fa-toggle-off fa-xl"></i>
									</a>
								{{/if}}
							</div>
						</div>
						<div class="resource">
							<label for="system.hasDisadvantage" class="resource-label">Disadvantage</label>
							<div class="resource-content flexrow flex-right flex-between">
								{{#if system.hasDisadvantage}}
									<a class='dice-control disadvantage-off' title='{{localize 'Disable Disadvantage'}}'
										data-type='Equipment'>
										<i class="fa-solid fa-toggle-on fa-xl"></i>
									</a>
								{{else}}
									<a class='dice-control disadvantage-on' title='{{localize 'Enable Disadvantage'}}'
										data-type='Equipment'>
										<i class="fa-solid fa-toggle-off fa-xl"></i>
									</a>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</header>

			{{!-- Sheet Tab Navigation --}}
			<nav class="sheet-tabs tabs" data-group="primary">
				{{!-- Default tab is specified in actor-sheet.mjs --}}
				<a class="item" data-tab="features">Actions</a>
				<a class="item" data-tab="items">Items</a>
				<a class="item" data-tab="skills">Skills</a>
				{{!-- <a class="item" data-tab="effects">Effects</a> --}}
				<a class="item" data-tab="notes">Notes</a>
			</nav>

			{{!-- Sheet Body --}}
			<section class="sheet-body">

				{{!-- Owned Actions Tab --}}
				<div class="tab actions" data-group="primary" data-tab="actions">
					{{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
					{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-actions.hbs"}}
				</div>
				{{!-- Biography Tab --}}
				<div class="tab notes" data-group="primary" data-tab="notes">
					{{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
					{{editor enrichedBiography target="system.notes" engine="prosemirror" button=true editable=editable}}
				</div>

				{{!-- Owned Items Tab --}}
				<div class="tab items" data-group="primary" data-tab="items">
					{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-items.hbs"}}
				</div>

				{{!-- Skills Tab --}}
				<div class="tab items" data-group="primary" data-tab="skills">
					{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-skills.hbs"}}
				</div>

				{{!-- Effects Tab --}}
				<div class="tab effects flexcol" data-group="primary" data-tab="effects">
					{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-effects.hbs"}}
				</div>
			</section>
		</section>
</form>
