<form class="sheet flexcol" autocomplete="off">
	<section class="grid grid-5col">
		<aside class="sidebar">
			{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-core.hbs"}}
		</aside>

		<section class="main grid-span-4">
			{{> "systems/cosmere-rpg-unofficial/templates/actor/header.hbs"}}

			{{!-- Sheet Tab Navigation --}}
			<nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
				{{#each tabs as |tab|}}
					<a class="{{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}">
						{{#if tab.icon}}
							<div class="tooltip">
								<i class="{{tab.icon}}"></i>
								<span class="tooltiptext">
									{{localize tab.label}}
								</span>
							</div>
						{{else}}
							<label>{{localize tab.label}}</label>
						{{/if}}
					</a>
				{{/each}}
			</nav>

			{{!-- Sheet Body --}}
			<section class="sheet-body">

				{{!-- Actions Tab --}}
				{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-actions.hbs"}}

				{{!-- Owned Items Tab --}}
				{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-items.hbs"}}

				{{!-- Skills Tab --}}
				{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-skills.hbs"}}

				{{!-- Features Tab --}}
				{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-feats.hbs"}}

				{{!-- Effects Tab --}}
				{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-effects.hbs"}}

				{{!-- Biography Tab --}}
				{{> "systems/cosmere-rpg-unofficial/templates/actor/parts/actor-biography.hbs"}}

			</section>
		</section>
	</section>
</form>
