<div class="flexcol" style="width:100%;">
	<div class="grid grid-4col resource">
		<label for="usePlotDice" class="grid-span-3 resource-label">Plot Dice</label>
		<div class="resource-content flex-right grid-span-1">
			{{#if dice.usePlotDice}}
				<a class='dice-control' title='{{localize 'Disable Plot Dice'}}' data-action="toggle"
					data-target="plot-dice">
					<i class="fa-solid fa-toggle-on fa-xl"></i>
				</a>
			{{else}}
				<a class='dice-control' title='{{localize 'Enable Plot Dice'}}' data-action="toggle"
					data-target="plot-dice">
					<i class="fa-solid fa-toggle-off fa-xl"></i>
				</a>
			{{/if}}
		</div>
	</div>
	<div class="grid grid-4col resource">
		<label for="hasAdvantage" class="grid-span-3 resource-label">Advantage</label>
		<div class="resource-content flex-right grid-span-1">
			{{#if dice.hasAdvantage}}
				<a class='dice-control' title='{{localize 'Disable Advantage'}}' data-action="toggle"
					data-target="advantage">
					<i class="fa-solid fa-toggle-on fa-xl"></i>
				</a>
			{{else}}
				<a class='dice-control' title='{{localize 'Enable Advantage'}}' data-action="toggle"
					data-target="advantage">
					<i class="fa-solid fa-toggle-off fa-xl"></i>
				</a>
			{{/if}}
		</div>
	</div>
	<div class="grid grid-4col resource">
		<label for="hasDisadvantage" class="grid-span-3 resource-label">Disadvantage</label>
		<div class="resource-content flex-right grid-span-1">
			{{#if dice.hasDisadvantage}}
				<a class='dice-control' title='{{localize 'Disable Disadvantage'}}' data-action="toggle"
					data-target="disadvantage">
					<i class="fa-solid fa-toggle-on fa-xl"></i>
				</a>
			{{else}}
				<a class='dice-control' title='{{localize 'Enable Disadvantage'}}' data-action="toggle"
					data-target="disadvantage">
					<i class="fa-solid fa-toggle-off fa-xl"></i>
				</a>
			{{/if}}
		</div>
	</div>
	<hr />
	<label class="flexrow flex-group-left">{{localize 'Modifiers'}}</label>
	{{#each dice.modifiers as |modifier index|}}
		<div class="grid grid-5col resource">
			<label class="grid-span-2">{{modifier.label}}</label>
			<label>{{modifier.value}}</label>
			<div class="resource-content flex-right grid-span-1">
				{{#if modifier.enabled}}
					<a class='dice-control' title='{{localize 'Disable Modifier'}}' data-action="toggle"
						data-target="modifier" data-index="{{@index}}">
						<i class="fa-solid fa-toggle-on fa-xl"></i>
					</a>
				{{else}}
					<a class='dice-control' title='{{localize 'Enable Modifier'}}' data-action="toggle"
						data-target="modifier" data-index="{{@index}}">
						<i class="fa-solid fa-toggle-off fa-xl"></i>
					</a>
				{{/if}}
			</div>
			<a class='modifier-remove' data-action="remove" data-index="{{@index}}"
				title='{{localize 'Delete Modifier'}}'>
				<i class="fa-solid fa-trash"></i>
			</a>
		</div>
	{{/each}}
	<div class="grid grid-4col modifier-fields">
		<input class="roll-input grid-span-2" data-index="{{@index}}" data-target="label" name="label" type="text"
			placeholder="Modifier Label" />
		<input class="roll-input" data-index="{{@index}}" data-target="value" name="value" type="number"
			placeholder="Value" />
		<a class='modifier-create' data-action="create" title='{{localize 'Add'}}'>
			<i class="fa-solid fa-plus"></i>
			<label class="resource-label">{{localize 'Add'}}</label>
		</a>
	</div>
</div>
