<div class="flexcol">
	<div class="flexrow resource list-item">
		<label for="usePlotDice" class="resource-label">Plot Dice</label>
		<div class="resource-content flex-right flex-between">
			{{#if usePlotDice}}
				<a class='dice-control' title='{{localize 'Disable Plot Dice'}}' data-type="toggle"
					data-target="plot-dice">
					<i class="fa-solid fa-toggle-on fa-xl"></i>
				</a>
			{{else}}
				<a class='dice-control' title='{{localize 'Enable Plot Dice'}}' data-type="toggle"
					data-target="plot-dice">
					<i class="fa-solid fa-toggle-off fa-xl"></i>
				</a>
			{{/if}}
		</div>
	</div>
	<div class="flexrow resource list-item">
		<label for="hasAdvantage" class="resource-label">Advantage</label>
		<div class="resource-content flex-right flex-between">
			{{#if hasAdvantage}}
				<a class='dice-control' title='{{localize 'Disable Advantage'}}' data-type="toggle"
					data-target="advantage">
					<i class="fa-solid fa-toggle-on fa-xl"></i>
				</a>
			{{else}}
				<a class='dice-control' title='{{localize 'Enable Advantage'}}' data-type="toggle"
					data-target="advantage">
					<i class="fa-solid fa-toggle-off fa-xl"></i>
				</a>
			{{/if}}
		</div>
	</div>
	<div class="flexrow resource list-item">
		<label for="hasDisadvantage" class="resource-label">Disadvantage</label>
		<div class="resource-content flex-right flex-between">
			{{#if hasDisadvantage}}
				<a class='dice-control' title='{{localize 'Disable Disadvantage'}}' data-type="toggle"
					data-target="disadvantage">
					<i class="fa-solid fa-toggle-on fa-xl"></i>
				</a>
			{{else}}
				<a class='dice-control' title='{{localize 'Enable Disadvantage'}}' data-type="toggle"
					data-target="disadvantage">
					<i class="fa-solid fa-toggle-off fa-xl"></i>
				</a>
			{{/if}}
		</div>
	</div>
	{{#each modifiers as |modifier index|}}
		<div class="flexrow resource list-item">
			<input class="roll-input" data-index="{{@index}}" data-target="label" name="label" type="text"
				value="{{modifier.label}}" placeholder="Label" />
			<input class="roll-input" data-index="{{@index}}" data-target="value" name="value" type="number"
				value="{{modifier.value}}" placeholder="Value" />
			<a class='modifier-remove' data-action="remove" data-index="{{@index}}"
				title='{{localize 'Delete Modifier'}}'>
				<i class="fa-solid fa-trash"></i>
			</a>
		</div>
	{{/each}}
	<hr />
	<a class='modifier-create' data-action="create" title='{{localize 'Create Modifier'}}'>
		<i class="fa-solid fa-plus"></i>
		<label class="resource-label">{{localize 'Create Modifier'}}</label>
	</a>
</div>
