<ol class='items-list'>
	<li class='item flexrow items-header'>
		<div class='item-name'>{{localize 'Talents'}}</div>
		<div class='item-controls'>
			<a class='item-control item-search' title='{{localize "DOCUMENT.Search" type="Feature"}}'
				data-type='Feature' data-feat-type='{{type}}'>
				<i class='fas fa-search'></i style='padding-left: 8px;'>
			</a>
		</div>
	</li>
	{{#each system.talents as |item id|}}
		<li class='item flexrow' data-item-id='{{item._id}}'>
			<div class='item-name'>
				<div class='item-image'>
					<a class='rollable' data-roll-type='item'>
						<img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
					</a>
				</div>
				<h4 class='resource-label detail-item'>{{item.name}}</h4>
			</div>
			<div class='item-controls'>
				<a class='item-control talent-delete' title='{{localize "DOCUMENT.Delete" type='feature'}}'>
					<i class="fa-solid fa-xmark"></i>
				</a>
			</div>
		</li>
		<li class='item flexrow' data-item-id='{{item._id}}' {{#unless item.system.showDetails}}style='display: none'
			{{/unless}}>
			<div class='item-details flex-group-center'>
				{{editor enrichedDescription target="item.system.description" engine="prosemirror" button=false editable=false}}
			</div>
		</li>
	{{/each}}
</ol>
