<form class='{{cssClass}}' autocomplete='off'>
	<header class='sheet-header'>
		<img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
		<div class='header-fields'>
			<h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
			<div class='grid grid-2col'>
				<div class='resource'>
					<label class='resource-label'>Weight</label>
					<input type='text' name='system.weight' value='{{system.weight}}' data-dtype='Number' />
				</div>
				<div class='resource'>
					<label class='resource-label'>Price</label>
					<input type='text' name='system.price' value='{{system.price}}' data-dtype='Number' />
				</div>
			</div>
		</div>
	</header>

	{{! Sheet Tab Navigation }}
	<nav class='sheet-tabs tabs' data-group='primary'>
		<a class='item' data-tab='description'>Description</a>
		<a class='item' data-tab='attributes'>Attributes</a>
	</nav>

	{{! Sheet Body }}
	<section class='sheet-body'>

		{{! Description Tab }}
		<div class='tab' data-group='primary' data-tab='description'>
			{{! Editors must receive enriched text data from getData to properly handle rolls }}
			{{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
		</div>

		{{! Attributes Tab }}
		<div class='tab attributes' data-group='primary' data-tab='attributes'>
			{{! As you add new fields, add them in here! }}
			<div class='resource'>
				<label class='resource-label'>Roll Formula:</label>
				<span>{{system.formula}}</span>
				<div class='grid grid-4col'>
					<div class='grid-span-1'>
						<label class='resource-label'>Die Count</label>
						<input type='text' name='system.damage.count' value='{{system.damage.count}}'
							data-dtype='Number' />
					</div>
					<div class='grid-span-1'>
						<label class='resource-label' for='system.damage.die'>Damage Die</label><br />
						<select name='system.damage.die' class='weapon-die-select'>
							<option value="4" {{isSelected '4' system.damage.die}}>d4</option>
							<option value="6" {{isSelected '6' system.damage.die}}>d6</option>
							<option value="8" {{isSelected '8' system.damage.die}}>d8</option>
							<option value="10" {{isSelected '10' system.damage.die}}>d10</option>
							<option value="12" {{isSelected '12' system.damage.die}}>d12</option>
						</select>
					</div>
					<div class='grid-span-1'>
						<label class='resource-label' for='system.damage.type'>Damage Type</label><br />
						<select name='system.damage.type' class='weapon-damage-select'>
							<option value="energy" {{isSelected 'energy' system.damage.type}}>Energy</option>
							<option value="impact" {{isSelected 'impact' system.damage.type}}>Impact</option>
							<option value="keen" {{isSelected 'keen' system.damage.type}}>Keen</option>
							<option value="spirit" {{isSelected 'spirit' system.damage.type}}>Spirit</option>
							<option value="vital" {{isSelected 'vital' system.damage.type}}>Vital</option>
						</select>
					</div>
					<div class='grid-span-1'>
						<label class='resource-label' for='system.skill'>Skill</label><br />
						<select name='system.skill' class='weapon-skill-select'>
							<option value="light" {{isSelected 'light' system.skill}}>Light</option>
							<option value="heavy" {{isSelected 'heavy' system.skill}}>Heavy</option>
						</select>
					</div>
					<div class='grid-span-1'>
						<label class='resource-label' for='system.range.type'>Range</label><br />
						<select name='system.range.type' class='weapon-range-select'>
							<option value="melee" {{isSelected 'melee' system.range.type}}>Melee</option>
							<option value="ranged" {{isSelected 'ranged' system.range.type}}>Ranged</option>
						</select>
					</div>
					{{#if (ifEquals system.range.type "ranged")}}
						<div class='grid-span-1'>
							<label class='resource-label'>Short Range</label>
							<input type='text' name='system.range.short' value='{{system.range.short}}'
								data-dtype='Number' />
						</div>
						<div class='grid-span-1'>
							<label class='resource-label'>Long Range</label>
							<input type='text' name='system.range.long' value='{{system.range.long}}'
								data-dtype='Number' />
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</section>
</form>
