<form class='{{cssClass}}' autocomplete='off'>
	<header class='sheet-header'>
		<img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
		<div class='header-fields'>
			<h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
			<div class="flexrow">
				<div class='grid grid-2col flex-group-right'>
					<label class='resource-label' for='system.cost'>Action Cost</label>
					<select name='system.cost' class='action-cost-selection'>
						<option value="0" {{isSelected '0' system.cost}}>Free Action</option>
						<option value="1" {{isSelected '1' system.cost}}>1 Action</option>
						<option value="2" {{isSelected '2' system.cost}}>2 Actions</option>
						<option value="3" {{isSelected '3' system.cost}}>3 Actions</option>
						<option value="-1" {{isSelected '-1' system.cost}}>Reaction</option>
						<option value="-2" {{isSelected '-2' system.cost}}>Special</option>
					</select>
				</div>
			</div>
		</div>
	</header>

	{{! Sheet Tab Navigation }}
	<nav class='sheet-tabs tabs' data-group='primary'>
		<a class='item' data-tab='description'>Description</a>
	</nav>

	{{! Sheet Body }}
	<section class='sheet-body'>

		{{! Description Tab }}
		<div class='tab' data-group='primary' data-tab='description'>
			{{! Editors must receive enriched text data from getData to properly handle rolls }}
			{{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
		</div>
	</section>
</form>
